*{
    /* font-family:Roboto; */
    color: white;
    /* margin: 0; */
}
.background{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.nerist{
    margin-top: 6px;
    height: auto;
    width: 110px;
}

.background{
    position: relative;
    width: 350px;
    height: 550px;

    background: linear-gradient(179.85deg, #193E6B 90.92%, #394F88 91.05%, #394F88 99.87%, #394F88 99.87%);
    border-radius: 45px;
}
.welcome_box{
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 1px;
    text-align: center;
}
h1{
    font-weight: lighter;
    font-size: 1.7rem;
    font-family: Port Lligat Sans;
}
h2{
    font-weight: 500;
    font-size: 18px;
    font-family: Port Lligat Sans;
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 23px;
    height: auto;
    margin: 0 6px;
    margin-bottom: 3px;
}
.nerist_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: ce;
}
.login{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    margin: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: 0.17rem;
}
.in{
    color: #58FC69;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 23px 0;
}
form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
::placeholder{
    /* background-color: transparent; */
    color: rgba(256,256,256,0.5);
    font-size: 16px;
}
.input_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 257px;
    height: 45px;
    margin: 10px;
    border-radius: 63px;
    background-color: transparent;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    font-size: 16px; 
    font-weight: 400;
    border: 1px solid #fff;
    outline: none;

}
#icon{
    left: 1px;
}
button{
    border-radius: 31px;
    width: 115px;
    height: 46px;
    color: #3E3D83;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16PX;
    font-weight: bold;
    letter-spacing: 0.17em;
    border: none;
    margin: 16px 0;
    cursor: pointer;
}
button:hover{
    background-color: #3FCC4D;
    color: beige;
    transition: 0.3s;
}

.about_us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
}
.about_us:hover{
    text-decoration: underline;
    font-size: 15px;
}